@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Mountains of Christmas', serif;
  background-image: url('assets/bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  backdrop-filter: blur(4px);
  min-height: 100vh;
}
h1{
  text-align: center;
  font-size: 64px;
}
.wrapper{
  display: flex;
  flex-direction: column;
}
.calendar{
  width: 80%;
  margin: 25px auto;
}
.calendar .header{
  display: flex;
  font-size: 40px;
  justify-content: space-between;
}
.calendar .header div{
  text-align: center;
  width: calc(100% / 7);
}
.days{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.days .day{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 8);
  height: 100px;
  border: 5px solid #00873E;
  border-radius: 5px;
  font-size: 26px;
  text-align: center;
  margin: 8px 3px;
}
.days .border-none{
  border: none;
  color: rgba(255, 255, 255, 0.6)
}
.days .current-day{
  color: yellow;
}
.days .current-day{
  background-color: #00873E;
}
.days .clickable{
  cursor: pointer;
}


.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}
.modal {
  max-width: 80vw;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  border-radius: 5px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.modal-content h2{
  font-size: 60px;
  text-align: center;
}
.modal-content p{
  font-size: 38px;
  text-align: center;
}

@media(max-width: 1328px){
  .calendar{
    width: 90%;
  }
}
@media(max-width: 1090px){
  .calendar .header{
    font-size: 30px;
  }
}
@media(max-width: 794px){
  .calendar .header{
    display: none;
  }
  .calendar .days .border-none{
    display: none;
  }
  .calendar .days{
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .calendar .days .day{
    width: 23%;
  }
  .modal-content h2{
    font-size: 32px;
  }
  .modal-content p{
    font-size: 24px;
  }
}